name: terraform-lint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    - name: Check out code
      uses: actions/checkout@master
    
      - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
    
    - name: Terraform Format
      run: terraform fmt 

    - name: Lint Terraform
      uses: actionshub/terraform-lint@master